<div class="row">
  <div class="col-sm-7">
    <h1>Examples</h1>
    <ul class="menu-sub">
      <li><a href="/examples">Basic list</a></li>
      <li><a href="/examples/add-edit-remove">Add, edit & remove</a></li>
      <li><a href="/performance">Performance</a></li>
    </ul>
  </div>
  <div class="col-sm-5" style="text-align:right;">
    <%- include ../shared/carbon.ejs %>
  </div>
</div>

<div id="users">
  <h2>Basic list</h2>
  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="name">Sort by name</button>
  <button class="sort" data-sort="name">Sort by year born</button>
  <div class="list">
    <div>
      <h3 class="name">Jonny Strömberg</h3>
      <p class="born">1986</p>
    </div>
    <div>
      <h3 class="name">Jonas Arnklint</h3>
      <p class="born">1985</p>
    </div>
    <div>
      <h3 class="name">Martina Elm</h3>
      <p class="born">1986</p>
    </div>
    <div>
      <h3 class="name">Gustaf Lindqvist</h3>
      <p class="born">1983</p>
    </div>
  </div>
</div>

<h2>Annotated code variants</h2>
<ul class="nav nav-pills" id="basic-tabs">
  <li class="active"><a href="#existing" data-toggle="tab">Existing list</a></li>
  <li><a href="#add" data-toggle="tab">Existing + add</a></li>
  <li><a href="#new" data-toggle="tab">New list</a></li>
</ul>

<div class="tab-content">

  <div class="tab-pane fade active" id="existing">
    <div class="row">
      <div class="col-sm-6">
<pre><code id="hej">
<%- include basic/existing-html.ejs %>
</code></pre>
      </div>
      <div class="col-sm-6">
<pre><code>
<%- include basic/existing-js.ejs %>
</code></pre>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="add">
    <div class="row">
      <div class="col-sm-6">
<pre><code>
<%- include basic/add-html.ejs %>
</code></pre>
      </div>
      <div class="col-sm-6">
<pre><code>
<%- include basic/add-js.ejs %>
</code></pre>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="new">
    <div class="row">
      <div class="col-sm-6">
<pre><code>
<%- include basic/add-html.ejs %>
</code></pre>
      </div>
      <div class="col-sm-6">
<pre><code>
<%- include basic/add-js.ejs %>
</code></pre>
      </div>
    </div>
  </div>

</div>

  </div>
</div>


<!-- Start of List.js stuff -->
<script type="text/javascript" type="text/javascript">
    var options = {
        valueNames: [ 'name', 'description' ]
    };

    var featureList = new List('users', options);
</script>
<!-- End of List.js stuff -->

<script>
$('#basic-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
});
</script>

<script type="text/javascript" src="js/libs/highlight/highlight.pack.js"></script>
<script src="/js/libs/bootstrap/transition.js"></script>
<script src="/js/libs/bootstrap/tab.js"></script>
<script src="/js/libs/bootstrap/tooltip.js"></script>
<script>
  hljs.initHighlightingOnLoad();
  function annotate() {
    var annotations = [
      [ 'users', 'This is important' ],
      [ 'search', 'This is important' ],
      [ 'sort', 'This is important' ],
      [ 'name', 'This is important' ],
      [ 'list', 'This is important' ],
      [ 'name', 'This is important' ]
    ];
    $('code').html(function(i, html) {
        for (var i = 0; i < annotations.length; i++) {
          html = html.replace(annotations[i][0], '<span class="annotation" title="'+annotations[i][1]+'">'+annotations[i][0]+'</span>');
        }
        return html; //return html.replace(/(BC-\d{3})/g, "<strong>$1</strong>");
    });
    $('.annotation').tooltip();

  }
  $(window).load(function() {
    setTimeout(annotate, 1000);
  })
</script>